# Ignore the application/config/database.php file

# IDE Files
#-------------------------
/nbproject/
.idea/*
application/config/database.php

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
