RewriteEngine on
RewriteCond $1 !^(index\.php|build|vendors|assets|images|js|css|uploads|drr_app|favicon.png)
RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^(.*)$ ./index.php/$1 [L]